@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');


:root {
  
  --press-start: 'Press Start 2P', cursive;
  
  --azul-escuro: #050818;
  --neon-intenso: #00F7FF;
  --neon-ciano: #00FFFF;
  --neon-suave: #00B4FF;
  --azul: #002981;
  --sombra: #10102A;
  --glow: #00FFFF;

  font-family: var(--press-start);
  font-size: 20px;
  color: white;
  letter-spacing: 0.18px;

  background-color: var(--azul-escuro);
  
  background: var(--azul-escuro);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  flex-direction: column;   /* Empilha os elementos um embaixo do outro */
  justify-content: center;  /* Centraliza no eixo vertical */
  align-items: center;      /* Centraliza no eixo horizontal */
  
  min-height: 100vh;        /* Garante que o container ocupe a altura total da tela */
  width: 100%;
  text-align: center;

  @media (max-width: 1024px) {
    font-size: 16px;
  }

}

.header-container {
  position: fixed; /* Fixa no topo da viewport */
  top: 0;
  left: 0;
  right: 0; /* Ocupa toda a largura da tela */
  z-index: 100;
  background-color: var(--azul-escuro);
  padding-bottom: 10px;
}

.titulo-principal {
  text-align: center;
  margin: 0 auto;
  width: fit-content;
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 10px; /* Espaçamento entre os botões */
  flex-wrap: wrap; /* Permite quebra de linha em telas menores */
}

.nome {
  font-size: 40px;
}

.sugestao {
  margin-top: 20px;
  padding: 10px;
  font-size: 40px;
}

.link-button {
  display: inline-block;      /* Faz com que o link se comporte como um botão */
  width: 190px;          /* Define a largura igual para todos */
  text-align: center;    /* Centraliza o texto dentro do link */
  padding: 10px 0;
  font-family: var(--press-start);
  font-size: 16px;
  text-decoration: none;  
  font-weight: bold;   
  
  margin: 10px;
  border: solid 1px white;
  border-radius: 4px;
  background-color: var(--azul);
  color: white;
  cursor: pointer;
  
  background-color: var(--azul);

  text-shadow: 1px 1px 0 #10102A;
  box-shadow:
    0 0 5px #00FFFF,
    0 0 10px #00B4FF;
  transition: all 0.3s;
}


/* Altera o estilo quando o usuário passa o mouse por cima */
.link-button:hover, .selected {
  background-color: #00F7FF;
  box-shadow:
    0 0 8px #00FFFF,
    0 0 15px #00B4FF;
}

.rating-btn {
    width: 150px;
    margin-top: 10px;
    font-size: 10px; /* Ajustado para melhor legibilidade */
}

.neon {
    text-shadow:
    2px 2px 0 var(--sombra),
    0 0 8px var(--glow),
    0 0 12px var(--neon-suave);
}

.loading{
  font-size: 40px;
}

.conteudo-sugestao {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  /* Mantém o espaço do filme reservado desde o início */
  min-height: 580px; 
  width: 100%;
}

.neon-border {
    border: 0.5px solid white; /* Borda sólida opcional */
    box-shadow:
      1px 1px 0 white,
      0 0 1px var(--glow),
      0 0 2px var(--neon-suave);
    border-radius: 2px; /* Opcional: arredonda cantos */
    animation: pulse 0.05s infinite alternate;
}

@keyframes pulse {
    from {
        box-shadow:
            0 0 5px var(--glow),
            0 0 10px var(--glow);
    }
    to {
        box-shadow:
            0 0 2px var(--glow),
            0 0 5px var(--glow),
            0 0 10px var(--neon-suave);
    }
}

.sugestao-container {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  width: 100%;
  max-width: 800px;
  min-height: 550px;
  margin-top: 300px;
  margin-left: 100px;
}

.quantidade-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  gap: 20px; /* Espaçamento entre os elementos */
    margin-top: 100px;
}

.quantidades{
  font-size: 25px;
  margin-right: 30px;
}

.poster-container {
  flex-shrink: 0;
}

.poster, .poster-vazio {
  width: 200px;
  height: auto;
  display: block;
  margin-top: 20px;

}

.atracao-info-container {
  width: calc(100% - 216px); /* 200px + 16px */
  text-align: left;
  margin-left: 50px;
}

.plot {
  margin-top: 30px;
  line-height: 1.4;
}

.font-pqna{
  font-size: 16px;
}

.mini-logo{
  height: 40px;
  width: auto;
  
}

.search-bar{
  padding-top:50px;
}

.input-field {
  position: relative;
  top: -5px; 

  font-size: 16px;
  height: 30px;
  width: 800px;
  font-family: var(--press-start);
}

.submit-button{
  position: relative;
  top: -9px; 

}

.submit-button:disabled{

  border: solid 1px white;
  background-color: rgb(90, 89, 89);
  color: grey;
  cursor: not-allowed;

  text-shadow: 1px 1px 0 #10102A;
  box-shadow:
    0 0 8px rgba(139, 0, 0, 0.5),
    0 0 16px rgba(139, 0, 0, 0.3);
  transition: all 0.3s;
}


/* Altera o estilo quando o usuário passa o mouse por cima */
.submit-button:hover {
  background-color: #3e3f3f;
  box-shadow:
    0 0 12px rgba(255, 0, 0, 0.7),
    0 0 24px rgba(204, 0, 0, 0.5);
}