@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');


:root {
  
  --press-start: 'Press Start 2P', cursive;
  
  --azul-escuro: #050818;
  --neon-intenso: #00F7FF;
  --neon-ciano: #00FFFF;
  --neon-suave: #00B4FF;
  --azul: #002981;
  --sombra: #10102A;
  --glow: #00FFFF;

  font-family: var(--press-start);
  font-size: 20px;
  color: white;
  letter-spacing: 0.18px;

  background-color: var(--azul-escuro);
  
  background: var(--azul-escuro);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }

}


.nome {
  font-size: 50px;
}

.sugestao {
  margin-top: 20px;
  padding: 10px;
  font-size: 40px;
}

.link-button {
  display: inline-block;      /* Faz com que o link se comporte como um botão */
  width: 200px;          /* Define a largura igual para todos */
  text-align: center;    /* Centraliza o texto dentro do link */
  padding: 10px 0;
  font-family: var(--press-start);
  font-size: 16px;
  text-decoration: none;  
  font-weight: bold;   
  
  margin: 10px;
  border: solid 1px white;
  border-radius: 4px;
  background-color: var(--azul);
  color: white;
  cursor: pointer;
  
  background-color: var(--azul);

  text-shadow: 1px 1px 0 #10102A;
  box-shadow:
    0 0 5px #00FFFF,
    0 0 10px #00B4FF;
  transition: all 0.3s;
}


/* Altera o estilo quando o usuário passa o mouse por cima */
.link-button:hover {
  background-color: #00F7FF;
  box-shadow:
    0 0 8px #00FFFF,
    0 0 15px #00B4FF;
}

.neon {
    text-shadow:
    2px 2px 0 var(--sombra),
    0 0 8px var(--glow),
    0 0 12px var(--neon-suave);
}